{
  "env": {
    "browser": true,
    "es2021": true
  },
  "ignorePatterns": ["node_modules", "dist", "build"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "airbnb",
    "prettier"
  ],

  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false,
    "babelOptions": {
      "parserOpts": {
        "plugins": ["jsx"]
      },
      "babelrc": false,
      "configFile": false
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier", "import", "jsx-a11y"],
  "rules": {
    "react/static-property-placement": "off",
    "react/prefer-stateless-function": "off",
    "react/button-has-type": "off",
    "react/state-in-constructor": "off",
    "no-plusplus": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-return-await": "off",
    "arrow-body-style": "off",
    "class-methods-use-this": "off",
    "react/jsx-props-no-spreading": "off",
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/order": [
      2,
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
